body {
	margin: 0;
}
.about {
	background-color: #f5cc50;
	padding: 20px;
	border-radius: 5px;
}
.about li {
	list-style-type: none;
	display: inline;
	padding: 3vb;
}
.about h2 {
	font-size: 5vb;
	text-decoration: underline;
}
.about p {
	font-size: 3vb;
}