body {
	margin: 0;
}
main {
	background-color: #f5cc50;
	/* height: 90vh; */
}
.description {
	padding-top: 4vb;
}
form table {
	margin: auto;
}
form input {
	width: 20vw;
}
form textarea {
	resize: none;
	width: 50vw;
}
form input[type="submit"] {
	width: 10vw;
}